*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
/* Al body diamo uno sfondo grigio */
body{
    background-color: rgba(211, 211, 211, 0.651);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Al interno del header sistemiamo la posizione del logo e il nome */
header{
    background-color: white;
}
 header h1{
    display: inline-block;
    vertical-align:middle;
 }
 header img{
    padding: 10px 10px;
    vertical-align:middle;
 }
 /* Al interno del nav sistemiamo il container e diamo lo stile ai due button */
 nav .container_nav{
    width:1100px;
    margin: auto;
    height: 50px;
    background-color: white;
    margin-top: 30px;
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;  
 }
 nav .container_nav #add_task{
    background-color: rgba(0, 162, 255, 0.829);
    padding: 5px;
    margin: 13px 0 0 50px;
    color: white;
    border-radius: 5px;
    border: none;
 }
 nav .container_nav #add_section{
    padding: 3px;
    color: rgba(128, 128, 128, 0.50);
    border-radius: 5px;
    border: 2px solid  rgba(128, 128, 128, 0.50);;
    background-color: rgba(255, 255, 255, 0);
 }

 /* Creiamo il contenitore del main */
 main .container_main{
    width:1100px;
    margin: auto;
    height: 750px;
    background-color: white;
    margin-top: 5px;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:10px ;   
 }
 /* Sistemiamo la tendida dei task, h2 e ul */
 main .container_main .apri_tendina{
    font-size: 18px;
 }
 main .container_main h2{
    padding: 30px 0 0 50px;
 }
 main .container_main ul{
    list-style-type: none;
    padding-left: 50px;
    line-height: 40px;
 }
 /* creiamo il formato dei due check : ok e no ok */
 .container_main ul .entities{
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 12px;
    margin-right: 10px;
 }
 /* diamo colore al ok e al no ok */
 .entities.ok{
    border: 1px solid rgba(17, 219, 10, 0.849);
    color: rgba(17, 219, 10, 0.849);
 }
 .entities.nook{
    border: 1px solid rgba(185, 42, 23, 0.849);
    color:  rgba(185, 42, 23, 0.849);
 }
/* creiamo il bottone che andremo ad usare per tutte */
 .container_main ul .bottone{
    padding: 7px;
    color: white;
    font-size: 10px;
    border-radius: 10px;
    border: none;
 }
 /*  creaiamo i diversi colori per i vari bottoni */
 .bottone.blu{
    background-color: rgba(0, 162, 255, 0.829);
 }
 .bottone.viola{
    background-color: rgba(132, 0, 255, 0.829);
 }
 .bottone.verde{
    background-color: rgba(44, 194, 89, 0.829);
 }
 .bottone.orange{
    background-color: rgba(255, 197, 6, 0.829);
 }
 .bottone.rosa{
    background-color: rgba(179, 10, 170, 0.829);
 }
 .bottone.verdino{
    background-color: rgba(182, 185, 0, 0.829);
 }